# --
# OS Level
# --
.DS_Store

# --
# Ruby
# --
vendor/
coverage/
Gemfile.lock
spec/fixture/site/
spec/fixture/result/
spec/fixture/out/
.bundle/
*.gem

# --
# CodeClimate
# --
cctr

# --
# Jekyll
# --
_site/
.jekyll-cache/
.jekyll-metadata
.asset-cache/
site/