/* vapor css framework */

@font-face {
  font-family: 'Vapor';
  src: url(font-path('fonts/vapor.eot'));
  src: url(font-path('fonts/vapor.eot')#iefix) format("embedded-opentype"),
       url(font-path('fonts/vapor.woff')) format("woff"),
       url(font-path('fonts/vapor.ttf')) format("truetype");
  font-weight: normal;
  font-style: normal;
}
